<!DOCTYPE html>
<html>
<head>
	<title>Photo Sticker Application</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="node_modules/bootstrap3/dist/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/ng-file-upload-shim.min.js"></script>
	<script type="text/javascript" src="js/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
	<script type="text/javascript" src="node_modules/angular-dragdrop/src/angular-dragdrop.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="PhotoStickerApp" ng-controller="photoStickerController">
	<div class="container">
		<div class="jumbotron">
    		<h1 class="text-center">Photo Sticker Application</h1>
  		</div>
		<div class="row">
			<div class="col-xs-10">
				<div class="photo_area">
					<div class="fileUpload btn btn-primary" ng-show="showMainImageBtn">
						<span>Add a new Image</span>
						<input type="file" class="upload" onchange="angular.element(this).scope().mainImageUpload(event)" />
					</div>
					<div class="start_over pull-right">
						<button type="button" class="btn btn-primary" ng-click="resetMainImage">Start Over</button>
					</div>
					<div id="photo-thumb" class="photoArea" ng-show="showMainImage">
						<img class="photo-thumb" ng-src="{{ mainImage }}" />
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Upload New Stickers</button>
				<div class="stickers-library">
					<!-- <input type="file" onchange="angular.element(this).scope().stickerImageUpload(event)" multiple /> -->
    				<div class="sticker_box" ng-repeat="step in stepsModel">
        				<img class="thumb" ng-src="{{ step.imgUrl }}" />
        				<p class="sticker_title">{{ step.imgTitle }}</p>
    				</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
  		<div class="modal-dialog">
    		<!-- Modal content-->
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal">&times;</button>
        			<h4 class="modal-title">Please add stickers in the library</h4>
      			</div>
      			<div class="modal-body">
      				<form name="myForm" class="form-horizontal">
      					<div class="form-group">
      						<label class="control-label col-sm-3" for="sticker_title">Sticker Title: </label>
      						<div class="col-sm-9">
      							<input type="text" name="img_title" ng-model="imageTitle" size="31" required>
      							<i ng-show="myForm.userName.$error.required">*required</i>
      						</div>
      					</div>
      					<div class="form-group">
      						<label class="control-label col-sm-3" for="upload_sticker">Upload Sticker: </label>
      						<div class="col-sm-9">
      							<input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required>
      							<i ng-show="myForm.file.$error.required">*required</i>
      							<i ng-show="myForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 2M</i>
      						</div>
      					</div>
      					<div class="form-group">
      						<div class="col-sm-6">
      							<img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
      						</div>
      						<div class="col-sm-6"></div>
      					</div>
      					<div class="form-group">
      						<div class="col-sm-6">
      							<button ng-click="picFile = null" ng-show="picFile" class="btn btn-danger">Remove</button>
      						</div>
      						<div class="col-sm-6"></div>
      					</div>
      					<div class="form-group">
      						<div class="col-sm-12">
      							<button ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)" data-dismiss="modal" class="btn btn-success pull-right">Submit</button>
      						</div>
      					</div>
      				</form>
      			</div>
    		</div>
  		</div>
	</div>

</body>
</html>